body {
  background: rgb(1, 37, 46)
}

h1 {
  color: white;
  font-family: 'fly-boy';
  font-size: 100px;
}

h2 {
  color: white;
  font-family: 'semi-coder';
  font-size: s;
}

h3 {
  color: rgb(255, 230, 0)
}

h4 {

  color: white;
  font-family: 'semi-coder';

}

h5 {
  color: rgb(255, 230, 0);
  text-align: center;
  font-size: xx-large;
  font-family: 'semi-coder';
}

h6 {
  color: rgb(30, 255, 0);
  font-size: medium;
}

p {
  color: rgb(255, 230, 0);
}

td {
  color: white;
}

.a {
  font-family: 'semi-coder';
  color: rgb(255, 230, 0);
  ;
}

.b {
  font-family: 'semi-coder';
}

.y {
  background-color: black;
  color: white;
  font-family: 'semi-coder';
}

.white {
  color: white;
  font-family: 'semi-coder';
}

.amarelo {
  color: rgb(255, 230, 0);
}

.yellow {
  color: rgb(0, 0, 0);
}

.checkbox {
  color: white;
  font-family: 'semi-coder';
}

.checkbox-input {
  position: absolute;
  opacity: 0;

}

.btnquefazsumir {
  background-color: transparent;
  border: transparent;
  margin-left: 1%;
  color: white;
  font-family: 'semi-coder';
  font-size: medium;

}

.classe {
  display: none;
}

.historia {
  font-family: "semi-coder";
  color: rgb(255, 230, 0);
}

.story {
  font-family: "semi-coder";
  color: rgb(255, 230, 0);
}

.backstory {
  font-family: "semi-coder";
  color: rgb(255, 230, 0);
}

textarea#story {
  background-color: black;
  color: white;
  font-family: 'semi-coder';
}

textarea#backstory {
  background-color: black;
  color: white;
  font-family: 'semi-coder';
}

textarea#historia {
  background-color: black;
  color: white;
  font-family: 'semi-coder';
}

textarea {
  resize: both;
  overflow: hidden;
}